*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: calc(100vh - 100px);
    background-image: url('manzara.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.box{
    width: 450px;
    background-color: rgb(38, 67, 117);
    color: white;
    margin: 100px auto;
    padding: 40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.8s;
}

.box img:hover{
    transform: scale(0.85);
}

.box h1{
    font-size: 40px;
    letter-spacing: 6px;
    font-weight: 100;
    margin-top: 20px;
}

.box h5{
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: 100;
    margin-top: 10px;
}

.box p{
    text-align: justify;
    margin-top: 10px;
}

.box li{
    display: inline-block;
    list-style: none;
    margin : 10px 6px;
}

.box a{
    color: #000000;
    font-size: 60px;
    transition: all 0.5s;
}

.box a:hover{
    color: #363232;
}